<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LanceTrack</title>

    @Html.Partial(MVC.Shared.Views.Libs)
    @Html.Partial(MVC.Shared.Views.Urls)

    @Html.Partial(MVC.Shared.Views.Refs)
    @Html.Partial(MVC.TrackTime.Views.Refs)
    @Html.Partial(MVC.Invoicing.Views.Refs)

    
    @* Angular application *@
    <script src="@Links.Features.Shared.scripts.app_ts" type="text/javascript"></script>

    @RenderSection("head", false)
</head>
<body ng-app="lance-track">
    <header class="navbar navbar-static-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">
                    LanceTrack
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a ui-sref="track-time.my" >Track Time</a>
                </li>
                <li >
                    <a href="#">Invoicing</a>
                </li>
            </ul>
        </div>
    </header>
<div class="container">
    @RenderBody()
</div>

<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-text">
            Licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a> license, R&amp;D-Dev Company. 2015
        </div>
    </div>
</footer>
</body>
</html>