<!DOCTYPE html>

<html>
<head>
    <title>LanceTrack</title>

    <link href="@Links.Libs.bootstrap.css.bootstrap_min_css" type="text/css" rel="stylesheet"/>
    <link href="@Links.Libs.bootstrap.css.bootstrap_theme_min_css" type="text/css" rel="stylesheet"/>

    <script src="@Links.Libs.jquery.jquery_min_js" type="text/javascript"></script>
    <script src="@Links.Libs.bootstrap.js.bootstrap_js" type="text/javascript"></script>
    <script src="@Links.Libs.angular.angular_min_js" type="text/javascript"></script>
    <script src="@Links.Libs.angular.angular_ui_router_min_js" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
</body>
</html>