@model dynamic
@{
    var rowLabel = "col-lg-2 col-md-2";
    var rowContent = "col-lg-9 col-md-9";
    var rowSummary = "col-lg-1 col-md-1";

    var datesMonWed = "col-lg-3 col-md-3 col-sm-3 col-xs-3";
    var datesThuSun = "col-lg-4 col-md-4 col-sm-4 col-xs-4";
}

<div class="clearfix user-statistics__container">
    <div class="user-statistics"
         ng-controller="statisticsController">
        <h3>Your results:</h3>
        <div class="user-statistics__value">
            Total hours: {{statistics.value.totalHours}}
        </div>
        <div class="user-statistics__value">
            Total earnings: ${{statistics.value.totalEarnings}}
        </div>
    </div>
    <h2>
        Track time
    </h2>
</div>
@* Mode switching *@
<ul class="nav nav-pills section">
    <li ui-sref-active="active">
        <a ui-sref="track-time({ at: at, mode: 'my-time' })">My Time</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="track-time({ at: at, mode: 'by-user' })">By User</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="track-time({ at: at, mode: 'by-project' })">By project</a>
    </li>
</ul>

@* Date navigation *@
<div class="panel panel-default">
    <div class="panel-body">
        <div class="clearfix">
            <div class="col-lg-1 col-sm-1 h4">Date</div>
            <div class="col-lg-3 col-sm-3 input-group">
                <div class="input-group-btn">
                    <button class="btn btn-default"
                            ng-click="previousWeek()"
                            title="Previous week">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                </div>
                <div class="dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown" id="dateSelector">
                        <input class="form-control"
                               ng-model="at"
                               ng-model-options="modelOptions"
                               type="text" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="dropdown-menu">
                        <datetimepicker ng-model="at" datetimepicker-config="{ dropdownSelector: '#dateSelector', minView: 'day' }" />
                    </div>
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-default"
                            ng-click="nextWeek()"
                            title="Next week">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Time tracking *@
<div class="panel panel-default">
    <div class="panel-body">
        @* By User *@
        <div ng-repeat="user in users()"
             ng-if="mode != 'by-project'"
             ng-init="totalHoursParam={ projectId: null, userId: user.id }">
            <h3 class="clearfix"
                ng-if="mode != 'my-time'">
                {{user.displayName}}
            </h3>

            <div class="clearfix" ng-include="'dates-header'">
            </div>

            <div class="clearfix time-row"
                 ng-repeat="project in projectsForUser(user.id) track by project.id">

                <div class="@rowLabel wrap-content">
                    {{project.name}}
                    <a class="pull-right btn btn-xs btn-success"
                       ui-sref="billProject({ projectId: project.id })"
                       ng-if="canBillProject(project)"
                       title="Bill project">
                        Bill 
                    </a>
                </div>

                <ng-include src="'hours-row'"/>

            </div>

            <div class="clearfix"
                 ng-include="'total-hours-row'">
            </div>
        </div>

        @* By Project *@
        <div ng-repeat="project in data.projects"
             ng-if="mode == 'by-project' "
             ng-init="totalHoursParam={ projectId: project.id, userId: null }">
            <h3 class="clearfix">
                {{project.name}}
                <a class="pull-right btn btn-xs btn-success"
                   ui-sref="billProject({ projectId: project.id })"
                   ng-if="canBillProject(project)"
                   title="Bill project">
                    Bill project
                </a>
            </h3>

            <div class="clearfix" ng-include="'dates-header'">
            </div>

            <div class="clearfix time-row"
                 ng-repeat="user in usersForProject(project.id)">
                <div class="@rowLabel">
                    {{user.displayName}}
                </div>

                <ng-include src="'hours-row'"/>

            </div>

            <div class="clearfix"
                  ng-include="'total-hours-row'">
            </div>
        </div>

    </div>
</div>

<script type="text/ng-template" id="dates-header">
    <div class="@rowLabel">

    </div>
    <div class="@rowContent">
        <div class="date-range mon-wed">
            <div class="@datesMonWed h5"
                 ng-repeat="d in dates.slice(0, 4)">
                <span class="visible-lg">
                    {{dateService.formatDay(d)}}
                </span>
                <span class="visible-md visible-sm">
                    {{dateService.format(d,'DD MMM')}}
                </span>
                <span class="visible-xs">
                    {{dateService.format(d,'DD')}}
                </span>
            </div>
        </div>
        <div class="date-range thu-sun">
            <div class="@datesThuSun h5"
                 ng-repeat="d in dates.slice(4, 7)">
                <span class="visible-lg">
                    {{dateService.formatDay(d)}}
                </span>
                <span class="visible-md visible-sm">
                    {{dateService.format(d,'DD MMM')}}
                </span>
                <span class="visible-xs">
                    {{dateService.format(d,'DD')}}
                </span>
            </div>
        </div>
    </div>
    <div class="@rowSummary"></div>
</script>

<script type="text/ng-template" id="hours-row">
    <div class="@rowContent">
        <div class="date-range mon-wed">
            <div class="@datesMonWed time-cell__container"
                 ng-repeat="d in dates.slice(0, 4)"
                 ng-init="project=project;cell=cell(project.id, d, user.id);"
                 ng-include="'time-cell'">
            </div>
        </div>
        <div class="date-range thu-sun">
            <div class="@datesThuSun time-cell__container"
                 ng-repeat="d in dates.slice(4, 7)"
                 ng-init="project=project;cell=cell(project.id, d, user.id);"
                 ng-include="'time-cell'">
            </div>
        </div>
    </div>
    <div class="@rowSummary text-muted">
        {{totalHours({userId: user.id, projectId: project.id }) | hours }}
    </div>
</script>

<script type="text/ng-template" id="total-hours-row">
    <div class="@rowLabel"></div>

    <div class="@rowContent hidden-xs hidden-sm">
        <div class="date-range mon-wed">
            <div class="@datesMonWed text-muted"
                 ng-repeat="d in dates.slice(0, 4)">
                {{totalHours({projectId: totalHoursParam.projectId, userId: totalHoursParam.userId, at: d }) | hours }}
            </div>
        </div>
        <div class="date-range thu-sun">
            <div class="@datesThuSun text-muted"
                 ng-repeat="d in dates.slice(4, 7)">
                {{totalHours({projectId: totalHoursParam.projectId, userId: totalHoursParam.userId, at: d }) | hours }}
            </div>
        </div>
    </div>
    <div class="@rowSummary">
    </div>
</script>

<script type="text/ng-template" id="time-cell">
    <div class="time-cell"
         ng-if="cell"
         ng-controller="timeCellController">

        <div class="time-cell__status-container">
            <span class="text-muted hidden-sm hidden-xs"
                  ng-show="!trackTime.isError && !trackTime.isLoading">
                hrs
            </span>
            <span class="text-danger glyphicon glyphicon-minus-sign"
                  ng-show="trackTime.isError"
                  title="{{trackTime.error.message}}">
            </span>
            <span class="text-success glyphicon glyphicon-floppy-save"
                  ng-show="trackTime.isLoading">
            </span>
        </div>

        <div class="time-cell__editor-container">
            <input class="time-cell__editor"
                   ng-model="cell.totalHours"
                   ng-model-options="modelOptions"
                   type="text"
                   title="{{project.name}}" />
        </div>
    </div>
</script>