@model dynamic
@{
    var rowClass = "clearfix h4";
    var labelClass = "col-lg-3 col-sm-3 text-muted";
    var valueClass = "col-lg-9 col-sm-9";


    var userColumn = "col-md-3 col-sm-5 col-xs-5 ";
    var hoursColumn = "col-md-2 col-sm-4 col-xs-4";
    var maxHoursColumn = "col-md-2 col-sm-3 col-xs-3";
    var sumColumn = "col-md-2 col-sm-12 col-xs-12";
}

<div class="clearfix">
    <h2 class="text-primary">
        Prepare invoice
    </h2>
</div>
<div class="panel panel-default"
     ng-if="isBillable()">
    <div class="panel-body">
        <div class="alert alert-danger"
             ng-if="error">
            {{error.message}}
        </div>
        <div class="@rowClass">
            <div class="@labelClass">Project</div>
            <div class="@valueClass text-primary">
                {{data.project.name}}
            </div>
        </div>

        <div class="@rowClass">
            <div class="@labelClass">
                Total hours:
            </div>
            <div class="@valueClass">
                {{totalHours() | hours}}
            </div>
        </div>
        <div class="@rowClass">
            <div class="@labelClass">
                Total sum:
            </div>
            <div class="@valueClass text-primary">{{totalSum() | currency}}</div>
        </div>

        <div class="clearfix invoice-details-part">
            <div class="clearfix visible-lg visible-md text-muted">
                <div class="@userColumn text-muted">User</div>
                <div class="@hoursColumn text-muted">Hours</div>
                <div class="@maxHoursColumn text-muted">Max hours</div>
                <div class="@sumColumn text-muted">Sum</div>
            </div>
            <div class="clearfix h4"
                 ng-repeat="userTime in data.invoice track by userTime.userId">
                <div class="@userColumn">
                    {{user(userTime.userId).displayName}}
                </div>
                <div class="@hoursColumn">
                    <input class="form-control"
                           ng-model="userTime.billingHours"
                           ng-model-options="modelOptions"
                           type="text" />
                </div>
                <div class="@maxHoursColumn">
                    hrs of {{userTime.maxHours}}hrs max
                </div>
                <p class="@sumColumn text-primary">
                    {{userTime.sum | currency }}
                </p>
            </div>

            <div class="clearfix">
                <button class="btn btn-lg btn-primary"
                        ng-click="bill()"
                        type="button">
                    Create invoice
                </button>
            </div>

        </div>

    </div>
</div>
<div class="alert alert-warning"
     ng-if="!isBillable() && data">
    All hours for the project has been billed. Go to <a class="text-primary" ui-sref="track-time.users">track time</a> and report more work.
</div>