@model dynamic
@{
    var rowClass = "clearfix h4";
    var labelClass = "col-lg-2 col-sm-2 text-muted";
    var valueClass = "col-lg-10 col-sm-10";

    var userColClass = "col-lg-2 col-sm-2";
    var hoursColClass = "col-lg-1 col-sm-1";
    var sumColClass = "col-lg-1 col-sm-1 text-primary";

}

<div class="clearfix">
    <h2 class="text-primary">
        Invoice {{model.invoice.invoiceNum}}
    </h2>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="@rowClass text-primary">
            <div class="col-lg-12 col-sm-2">{{model.invoice.invoiceNum}}</div>
        </div>
        <div class="@rowClass">
            <div class="@labelClass">Project</div>
            <div class="@valueClass">{{model.project.name}}</div>
        </div>
        <div class="@rowClass">
            <div class="@labelClass">Date</div>
            <div class="@valueClass">{{dates.format(model.invoice.at, 'YYYY MMMM DD')}}</div>
        </div>
        <div class="@rowClass">
            <div class="@labelClass">Total hours</div>
            <div class="@valueClass">{{model.invoice.hours | hours}}</div>
        </div>
        <div class="@rowClass">
            <div class="@labelClass">Invoice sum</div>
            <div class="@valueClass text-primary">${{model.invoice.sum}}</div>
        </div>
        <div class="@rowClass">
            <div class="@labelClass">Is Paid</div>
            <div class="@valueClass text-primary">{{model.invoice.isPaid | yesNo}}</div>
        </div>

        <div class="@rowClass">
            <div class="@labelClass">Billed by</div>
            <div class="@valueClass">{{user(model.invoice.billedByUserId).displayName}}</div>
        </div>
        <div class="clearfix invoice-details-part">
            <div class="clearfix"
                 ng-repeat="detail in model.details">
                <div class="@userColClass">
                    {{user(detail.userId).displayName}}
                </div>
                <div class="@hoursColClass">
                    {{detail.userHours | hours}}
                </div>
                <div class="@sumColClass">
                    ${{detail.userSum}}
                </div>
            </div>
        </div>

    </div>
</div>