@model dynamic
@{
    var labelClass = "col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label";
    var editorClass = "col-lg-8 col-md-8 col-sm-8 col-xs-8";
}

<div class="modal-header">
    <h4>Log In</h4>
</div>
<div class="modal-body form-horizontal">
    <div class="alert alert-danger"
         ng-if="error && error.modelState['']"
         ng-bind="error.modelState['']">
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : error.modelState.login }">
        <label class="@labelClass">
            Email
        </label>
        <div class="@editorClass">
            <input class="form-control" ng-model="model.login" type="text"/>
            <p class="help-block text-danger"
               ng-if="error.modelState.login"
               ng-bind="error.modelState.login">
                
            </p>
        </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error' : error.modelState.password }">
        <label class="@labelClass">Password</label>
        <div class="@editorClass">
            <input class="form-control" ng-model="model.password" type="password"/>
            <p class="help-block text-danger"
               ng-if="error.modelState.password"
               ng-bind="error.modelState.password">

            </p>
        </div>
    </div>
    <div class="form-group">
        <label class="@labelClass">&nbsp;</label>
        <div class="@editorClass">
            <div class="checkbox">
                <label>
                    <input ng-model="model.rememberMe" type="checkbox" /> Remember me
                </label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer ">
    <div>
        <div class="@labelClass"></div>
        <div class="text-left"> 
            <button class="btn btn-danger btn-primary"
                    ng-click="login()"
                    data-dismiss="modal">
                Login
            </button>
        </div>
    </div>
</div>